@import url(_text-size/popup__button_text-size_medium.css);
@import url(_text-size/popup__button_text-size_large.css);
@import url(_invalid/popup__button_invalid.css);
@import url(_valid/popup__button_valid.css);
@import url(_add/popup__button_add.css);
@import url(_save/popup__button_save.css);


.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;

}


